@model List<ProductWithCategoryDto>
@{
    ViewData["Title"] = "Index";
}

<a class="btn btn-outline-primary" asp-controller="Product" asp-action="Add">Add</a>
<table class="table table-bordered table-striped">

    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Stock</th>
            <th>CreatedDate</th>
            <th>Actions</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Category.Name</td>
                <td>@item.Price</td>
                <td>@item.Stock</td>
                <td>@item.CreatedDate</td>
                <td>
                    <a class="btn btn-outline-warning" asp-controller="Product" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    <a class="btn btn-outline-success" asp-controller="Product" asp-action="Update" asp-route-id="@item.Id">Update</a>
                </td>
            </tr>
        }
    </tbody>
</table>

